@import "clock.css";
@import "background.css";
@import "greeting.css";
@import "todo.css";
@import "quotes.css";
@import "wheather.css";
@import "quotes.css";
body {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.hidden {
  display: none;
}
.checked {
  text-decoration: line-through;
}
