.todo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo__form input {
  border: none;
  background: none;
  width: 300px;
  height: 40px;
  color: white;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  border-bottom: 2px solid white;
}
.todo__form input::placeholder {
  color: white;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
.todo__form input:focus {
  outline: none;
}
.todo__form button {
  background: none;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 10%;
  color: white;
  font-size: 20px;
}
.todo__form button:hover {
  cursor: pointer;
}
.todo__list li {
  margin-bottom: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.todo__list li button {
  background: none;
  border: none;
}
.todo__list li button:hover {
  cursor: pointer;
}
